.mobile-app {
	padding: 0 1em;

	// Overridden for this module only
	.container {
		padding: 2em 0;
	}
}

.mobile-app-content {
	text-align: center;
	max-width: 520px;
	margin: 0 auto;
}

.mobile-app-cha-ching {
	white-space: nowrap;
}

.mobile-app-stores {
	@extend .clearfix;
	margin-bottom: 1.5em;
}

.mobile-app-download {
	display: inline-block;
	width: 48%;
	margin-left: 2%;

	.lt-ie9 & {
		width:47%;
	}

	&:first-child {
		margin-left: 0;
	}
}

.mobile-app-graphic {
	display: none;
}

@media (min-width: 800px) {
	.mobile-app-graphic {
		display: block;
		position: absolute;
		bottom: 3em;
		right: 5%;
		width: 40%;
		max-width: 400px;

		.lt-ie9 & {
			//it was getting super distorted in IE8
			height: 460px;
		}
	}

	.mobile-app-content {
		margin: 0 50% 0 0%;
	}
}

@media (min-width: 1080px) {
	.mobile-app-content {
		margin: 0 50% 0 10%;
	}

	.mobile-app-graphic {
		right: 10%;
	}
}
