$serif: "Adelle", Georgia, "Times New Roman", serif;
$sans-serif: "Helvetica Neue", sans-serif;
$mono: monospace;

@include font-face( 'Adelle', font-url( 'fonts/adelle-lining-figures/adellelf-light-webfont', true ), 100);
@include font-face( 'rmn-iconfont', font-url( 'fonts/rmn-iconfont/rmn-iconfont', true ));
