<div class="module border-bottom">
	<div class="container">
		<div class="grid-row col-3 relative" ng-repeat = "deal in deals | filter: {name: 'Nike Dart 10 Womens'}">
      <div class="favorite-star"></div>
			<div class="grid-unit multi relative">
				<div class="collection-image">
          <img ng-src="{{deal.bgImage}}" alt="">
        </div>
			</div>
			<div class="grid-unit col-2 multi collection-description">
				<h3 class="h3">{{deal.name}}</h3>
				<p>{{deal.description}}</p>

        <div class="urgency">
          <div class="ending">Coupon ends today!</div>
          <div>Limited quanitity available! 52 views in the last hour!</div>
        </div>

        <div class="pricing mobile-center">
          <span class="price">${{deal.newPrice}}</span> <span class="shipping">+ free shipping</span> <span class="smaller"><span class="strikethrough">${{deal.oldPrice}}</span> ({{((deal.oldPrice - deal.newPrice) / deal.oldPrice) * 100 | number: 0}}% Off)</span>
        </div>
        
        <div class="button">Buy</div> <span class="mobile-center">at <a href="">{{deal.merchant}}</a></span>

        <div class="pb1 pt1 border-bottom"></div>

        <div class="coupons-used clearfix">
          <div class="merchant-logo-container">
            <div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/mobile/footlocker.com-logo.png)"></div>
          </div>
          <div class="coupons">
            <h6 class="h6">2 Coupons Used</h6>
            <ul>
              <li class="coupon"><a href="">Extra 17% Coupon</a></li>
              <li class="coupon"><a href="">Free Shipping</a></li>
            </ul>
            
          </div>
        </div>

			</div>

		</div>
	</div>
</div>

<div class="module">
  <div class="container">
    <div class="grid-fixed-fluid show-gutter-line">
      <div class="fixed mobile-hide">
        <div class="radio-filters">
          <input type="radio" ng-model="typeFilter" id="all" value="">
          <label for="all">All</label>

          <input type="radio" ng-model="typeFilter" id="under5" value="foot locker under5">
          <label for="under5">Under $5 at Foot Locker</label>

          <input type="radio" ng-model="typeFilter" id="related" value="running shoes">
          <label for="related">Related Deals</label>

         <input type="radio" ng-model="typeFilter" id="top-deals" value="top deals">
          <label for="top-deals">Top Deals</label>
        </div>
      </div>
      <div class="fluid">

        <h3 class="h3">Related Products</h3>

        <ul class="products-coupons" ng-repeat = "deal in deals | filter: typeFilter" ng-switch on="deal.dealType">

          <li class="h-coupon" ng-switch-when="coupon">
            <a href="#" class="h-coupon-media">
              <img ng-src="{{deal.logo}}" height="100" width="100" alt=""/>
            </a>
            <div class="h-coupon-content">
              <a href="#" class="h-block-link">
                <span ng-switch on="deal.type"class="h-coupon-type">
                  <span ng-switch-when="code">Coupon Code</span>
                  <span ng-switch-when="printable">Printable</span>
                  <span ng-switch-when="sale">Sale</span>
                </span>
                <h3 class="h-coupon-title">{{deal.description}}</h3>
              </a>
              <p class="h-coupon-validation">
                Ends 12/12/14 <span class="sep">&bull;</span>
                {{deal.numberUsed}} Uses Today
              </p>
              <p class="h-coupon-details">Details and Exclusions: {{deal.details}}</p>
              <span ng-switch on="deal.type">
                <button ng-switch-when = "code" class="button button--code h-coupon-button">Show Code</button>
                <a ng-switch-when="printable"href="#/deals/product" class="button h-coupon-button shop-button">View Coupon</a>
                <a ng-switch-when="sale"href="#/deals/product" class="button h-coupon-button shop-button">Shop Sale</a>
              </span>
              
              <div class="favorite-star" aria-label="Favorite"></div>
            </div>
          </li>

          <li class="h-coupon" ng-switch-when="product" ng-hide="deal.category == featured">
            <a href="#/deals/product" class="h-coupon-media">
              <img ng-src="{{deal.bgImage}}" height="100" width="100" alt=""/>
            </a>
            <div class="h-coupon-content">
              <a href="#/deals/product" class="h-block-link">
                <span class="h-coupon-type"><!-- <img class="small-merchant-logo" src="http://o.rmncdn.com/thumbs/logos/mobile/target.com-logo.png" alt=""> -->{{deal.merchant}} {{deal.location}}</span>
                <h3 class="h-coupon-title">{{deal.name}}</h3>
              </a>
              <p class="h-coupon-validation">
                <span class="strikethrough">${{deal.oldPrice | number: 2}}</span> ({{((deal.oldPrice - deal.newPrice) / deal.oldPrice) * 100 | number: 0}}% Off) <span class="sep">&bull;</span>
                {{deal.viewedToday}} Views Today
              </p>
              <p class="h-product-details"><span class="price">${{deal.newPrice}}</span></p>
              <a href="#/deals/product" class="button h-coupon-button shop-button">Shop</a>
              <div class="favorite-star" aria-label="Favorite"></div>
            </div>
          </li>
          
        </ul>
        

      </div>
  </div>
</div>