<div class="module border-bottom">
	<div class="container">
		<div class="grid-row col-3 relative" ng-repeat = "deal in deals | filter: {name: 'Nike Dart 10 Mens'}">
      <div class="favorite-heart"></div>
			<div class="grid-unit relative">
				<div class="collection-image">
          <img ng-src="{{deal.bgImage}}" alt="">
        </div>
			</div>
			<div class="grid-unit col-2 multi collection-description">
				<h3 class="h3">{{deal.name}}</h3>
				<p>{{deal.description}}</p>

        <div class="pricing">
          ${{deal.newPrice | number:2}} <span class="smaller"> <span class="crossout">${{deal.oldPrice | number:2}}</span> at <a href="">{{deal.merchant}}</a></span>
        </div>
        
        <div class="button button--secondary">Alert when on sale</div> <br>
        <div class="button">Buy</div>

				<h6 class="h6 pt1 mobile-hide">Share Your Style #myRetailMeNot <span class="sub-right"><a href="">Add a Photo</a></span></h6>
				<div class="grid-row col-6 mobile-hide">
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/nikeDart01.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/nikeDart02.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/nikeDart03.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/nikeDart04.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/nikeDart05.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/nikeDart06.jpg);"></div></div>
				</div>

			</div>

		</div>
	</div>
</div>

<div class="module">
	<div class="container">
    <h3 class="h3">Related Products</h3>
		<div class="grid-row col-3">
      <div ng-repeat="deal in deals | filter: {category: 'running shoes womens'} | limitTo:3">
        <div class="grid-unit product-item" ng-class="{'last':$last}">
            <div class="favorite-heart"></div>
            <a href="#/experience/product">
            <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
              <div class="gradient-overlay">
              </div>
            </div>
            <div class="product-description">
              <div class="product-name">{{deal.name}}</div>
              <div class="product-info clearfix">
                <div class="merchant">{{deal.merchant}}</div>
                <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
              </div>
            </div>
          </a>
          </div>
        </div>


    </div>

    <h3 class="h3">Related Collections</h3>
    <div class="grid-row col-3 pb1">
      <div ng-repeat="collection in collections | filter: {category: 'related'}">
        <div class="grid-unit collection-item" ng-class="{'last':$last}">
          <a href="#/experience/collection">
            <div class="collection-bg photo-background" ng-style="{'background-image':'url('+collection.bgImage+')'}">
              <div class="favorite-heart"></div>
            </div>
            <div class="description centered">{{collection.name}}</div>
          </a>
        </div>
      </div>

    </div>

	</div>
</div>