<div class="module border-bottom">
	<div class="container">
		<div class="grid-row col-3">
			<div class="grid-unit">
				<div class="collection-image photo-background"><img src="images/collections/getthislookFallWomens.jpg" alt=""></div>
			</div>
			<div class="grid-unit multi col-2">
				<h3 class="h3">Cozy Fall Fashion</h3>
				<p>Cozy up next to a warm fire with our fall fashion.  Enjoy high fashion at low prices. Warm colors and warm clothing, all attached to the smart savings you expect.</p>

				<h6

				 class="h6 mobile-hide">Photos from our customers</h6>
				<div class="grid-row col-6 mobile-hide">
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/fallFashionW01.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/fallFashionW02.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/fallFashionW03.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/fallFashionW04.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/fallFashionW05.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(images/userSubmitted/fallFashionW06.jpg);"></div></div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="module">
	<div class="container">
		<div class="grid-row col-3">
			<div ng-repeat="deal in deals | filter: {category: 'fall fashion womens row1'}">
        <div class="grid-unit product-item" ng-class="{'last':$last}">
            <div class="favorite-heart"></div>
            <a href="#/experience/product">
            <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
              <div class="gradient-overlay">
              </div>
            </div>
            <div class="product-description">
              <div class="product-name">{{deal.name}}</div>
              <div class="product-info clearfix">
                <div class="merchant">{{deal.merchant}}</div>
                <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
              </div>
            </div>
          </a>
          </div>
        </div>

        <div ng-repeat="deal in deals | filter: {category: 'fall fashion womens row2'}">
        <div class="grid-unit product-item" ng-class="{'last':$last}">
            <div class="favorite-heart"></div>
            <a href="#/experience/product">
            <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
              <div class="gradient-overlay">
              </div>
            </div>
            <div class="product-description">
              <div class="product-name">{{deal.name}}</div>
              <div class="product-info clearfix">
                <div class="merchant">{{deal.merchant}}</div>
                <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
              </div>
            </div>
          </a>
          </div>
        </div>

      </div>

		</div>
	</div>