<div class="module border-bottom">
	<div class="container">
		<div class="grid-row col-3 relative">
      <div class="mobile-hide favorite-heart"></div>
			<div class="grid-unit relative">
				<div class="collection-image">
          <img src="images/products/bear.jpg" alt="">
          <div class="desktop-hide favorite-heart"></div>
        </div>
			</div>
			<div class="grid-unit col-2 collection-description">
				<h2 class="h3">Jellycat Bartholomew Bear Medium</h1>
				<p>Tawny-tousled and full of softness, Bartholomew Bear is the perfect bedtime buddy. Read him a story, sing him ‘The Teddy Bears’ Picnic' or maybe just rest on his fluffy fudge tummy - he’s adorably podgy!</p>

        <div class="pricing">
          $50 <span class="smaller"> <span class="crossout">$100</span> at <a href="">Target</a></span>
        </div>
        
        <div class="button button--secondary">Alert when on sale</div> <br>
        <div class="button">Buy</div>

				<h6 class="h6 pt1 mobile-hide">Share Your Style #myRetailMeNot <span class="sub-right"><a href="">Add a Photo</a></span></h6>
				<div class="grid-row col-6 mobile-hide">
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
				</div>

			</div>

		</div>
	</div>
</div>

<div class="module">
	<div class="container">
		<div class="grid-row col-4">
			
			<div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>
      <div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>
      <div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>
      <div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>

		</div>
	</div>
</div>