<div class="module border-bottom">
	<div class="container">
		<div class="grid-row col-3">
			<div class="grid-unit">
				<div class="collection-image photo-background"><img src="images/collections/winter-fashion.jpg" alt=""></div>
			</div>
			<div class="grid-unit col-2">
				<h1 class="h2">The Winter Collection</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi fuga repellendus minus repellat, error, culpa, placeat ipsum excepturi, vel quod velit veritatis. Ullam tenetur dolor optio quod provident impedit architecto.</p>

				<h6

				 class="h6">Photos from our customers</h6>
				<div class="grid-row col-6">
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
					<div class="grid-unit"><div class="ugc-photo photo-background" style="background-image: url(http://www.film1.nl/images/plaatjes/12160.jpg);"></div></div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="module">
	<div class="container">
		<div class="grid-row col-4">
			
			<div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>
      <div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>
      <div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>
      <div class="grid-unit test-unit">
        <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
          <div class="icon-gold-star"></div>
          <div class="gradient-overlay">
          </div>
          <div class="discount">
            <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
          </div>
        </div>
        <div class="test-caption">
          Buy my book!
        </div>
      </div>

		</div>
	</div>
</div>