<div class="module border-bottom">
	<div class="container">
		<h1 class="h2 centered pb1">Save at these Top Brands</h1>
		<div class="grid-row col-6 carousel">
			<span class="triangle left"></span>
			<div class="grid-unit"><div class="merchant-logo" style="background-image: url(images/logos/nike.png)"></div></div>
			<div class="grid-unit"><div class="merchant-logo" style="background-image: url(images/logos/apple.png)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(images/logos/toms.png)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(images/logos/verabradley.png)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(images/logos/oldnavy.png)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(images/logos/cuisinart.png)"></div></div>
			<span class="triangle right"></span>
		</div>
	</div>
</div>

<div class="module">
	<div class="container">
		<div class="grid-row col-3 pb1">
			<div ng-repeat="collection in collections | filter: {category: 'homepage row1'}">
        <div class="grid-unit collection-item" ng-class="{'last':$last}">
        	<a href="#/experience/collection">
        		<div class="collection-bg photo-background" ng-style="{'background-image':'url('+collection.bgImage+')'}">
        			<div class="favorite-heart"></div>
	          </div>
	          <div class="description centered">{{collection.name}}</div>
        	</a>
        </div>
      </div>

    </div>

    <div class="grid-row col-3 pb1">
			<div ng-repeat="collection in collections | filter: {category: 'homepage row2'}">
        <div class="grid-unit collection-item" ng-class="{'last':$last}">
        	<a href="#/experience/collection">
        		<div class="collection-bg photo-background" ng-style="{'background-image':'url('+collection.bgImage+')'}">
        			<div class="favorite-heart"></div>
	          </div>
	          <div class="description centered">{{collection.name}}</div>
        	</a>
        </div>
      </div>

    </div>

    <div class="grid-row col-3">
			<div ng-repeat="collection in collections | filter: {category: 'homepage row3'}">
        <div class="grid-unit collection-item" ng-class="{'last':$last}">
        	<a href="#/experience/collection">
        		<div class="collection-bg photo-background" ng-style="{'background-image':'url('+collection.bgImage+')'}">
        			<div class="favorite-heart"></div>
	          </div>
	          <div class="description centered">{{collection.name}}</div>
        	</a>
        </div>
      </div>

    </div>

	</div>
</div>