<div class="module">
	<div class="container">
		<div class="grid-fixed-fluid show-gutter-line">
      <div class="fixed mobile-hide">
        <div class="radio-filters">
	        <input type="radio" ng-model="typeFilter" id="all" value="">
	        <label for="all">All</label>

	        <input type="radio" ng-model="typeFilter" id="code" value="code">
	        <label for="code">Codes</label>

	        <input type="radio" ng-model="typeFilter" id="sale" value="sale">
	        <label for="sale">Sale</label>

	        <input type="radio" ng-model="typeFilter" id="printable" value="printable">
	        <label for="printable">Printable</label> 
          <input type="radio" ng-model="typeFilter" id="products" value="products">
        
          <label for="womens">Womens</label> 
          <input type="radio" ng-model="typeFilter" id="mens" value="mens">
          <label for="mens">Mens</label> 
	      </div>
      </div>
      <div class="fluid">

        <h3 class="h3">Results for Running Shoes</h3>

        <div class="grid-row col-4 carousel pb1">
          <span class="triangle left"></span>
          <div class="grid-unit"><div class="merchant-logo" style="background-image: url(images/logos/nike.png)"></div></div>
          <div class="grid-unit"><div class="merchant-logo" style="background-image: url(images/logos/adidas.png)"></div></div>
          <div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(images/logos/saucony.png)"></div></div>
          <div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(images/logos/mizuno.png)"></div></div>
          <span class="triangle right"></span>
        </div>

        <div class="grid-row col-3">
          <div ng-repeat="deal in deals | filter: {category: 'running shoes'} | filter: {category: 'row1'}">
            <div class="grid-unit product-item" ng-class="{'last':$last}">
                <div class="favorite-heart"></div>
                <a href="#/experience/product">
                <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
                  <div class="gradient-overlay">
                  </div>
                </div>
                <div class="product-description">
                  <div class="product-name">{{deal.name}}</div>
                  <div class="product-info clearfix">
                    <div class="merchant">{{deal.merchant}}</div>
                    <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
                  </div>
                </div>
              </a>
              </div>
            </div>


        </div>

        <div class="grid-row col-3">
          <div ng-repeat="deal in deals | filter: {category: 'running shoes'} | filter: {category: 'row2'}">
            <div class="grid-unit product-item" ng-class="{'last':$last}">
                <div class="favorite-heart"></div>
                <a href="#/experience/product">
                <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
                  <div class="gradient-overlay">
                  </div>
                </div>
                <div class="product-description">
                  <div class="product-name">{{deal.name}}</div>
                  <div class="product-info clearfix">
                    <div class="merchant">{{deal.merchant}}</div>
                    <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>

           <div class="grid-row col-3">
          <div ng-repeat="deal in deals | filter: {category: 'running shoes'} | filter: {category: 'row3'}">
            <div class="grid-unit product-item" ng-class="{'last':$last}">
                <div class="favorite-heart"></div>
                <a href="#/experience/product">
                <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
                  <div class="gradient-overlay">
                  </div>
                </div>
                <div class="product-description">
                  <div class="product-name">{{deal.name}}</div>
                  <div class="product-info clearfix">
                    <div class="merchant">{{deal.merchant}}</div>
                    <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>

         <div class="grid-row col-3">
          <div ng-repeat="deal in deals | filter: {category: 'running shoes'} | filter: {category: 'row4'}">
            <div class="grid-unit product-item" ng-class="{'last':$last}">
                <div class="favorite-heart"></div>
                <a href="#/experience/product">
                <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
                  <div class="gradient-overlay">
                  </div>
                </div>
                <div class="product-description">
                  <div class="product-name">{{deal.name}}</div>
                  <div class="product-info clearfix">
                    <div class="merchant">{{deal.merchant}}</div>
                    <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>

           <div class="grid-row col-3">
          <div ng-repeat="deal in deals | filter: {category: 'running shoes'} | filter: {category: 'row5'}">
            <div class="grid-unit product-item" ng-class="{'last':$last}">
                <div class="favorite-heart"></div>
                <a href="#/experience/product">
                <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
                  <div class="gradient-overlay">
                  </div>
                </div>
                <div class="product-description">
                  <div class="product-name">{{deal.name}}</div>
                  <div class="product-info clearfix">
                    <div class="merchant">{{deal.merchant}}</div>
                    <div class="price"><span class="strikethrough">${{deal.oldPrice | number:2}}</span> ${{deal.newPrice | number:2}}</div>
                  </div>
                </div>
              </a>
              </div>
            </div>
          </div>

        
      	

      </div>
  	</div>
  </div>
</div>