<div class="module beige-bg">
	<div class="container">
		<h1 class="h2">Frying Pans</h2>
		<!--
		Black and Decker http://o.rmncdn.com/thumbs/logos/l/blackanddecker.com-coupons.jpg
		Hoover http://o.rmncdn.com/thumbs/logos/l/hoover.com-coupons.jpg
		Dirtdevil http://o.rmncdn.com/thumbs/logos/l/dirtdevil.com-coupons.jpg
		Eureka eureka.jpg
		Dyson http://o.rmncdn.com/thumbs/logos/l/dyson.com-coupons.jpg
		Bissell http://o.rmncdn.com/thumbs/logos/l/bissell.com-coupons.jpg 
		 -->
		<ul class="proto-grid-row clearfix">
			<li class="col span_1 mt-percent">
				<div class="merchant-logo" style="background-image: url(images/logos/tfal.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent">
				<div class="merchant-logo" style="background-image: url(images/logos/lodge.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent">
				<div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/l/store.calphalon.com-coupons.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent">
				<div class="merchant-logo" style="background-image: url(images/logos/cuisinart.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent mobile-hide">
				<div class="merchant-logo" style="background-image: url(images/logos/allClad.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent mobile-hide">
				<div class="merchant-logo" style="background-image: url( http://o.rmncdn.com/thumbs/logos/l/anolon.com-coupons.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent mobile-hide">
				<div class="merchant-logo" style="background-image: url(images/logos/circulon.jpg);"></div>
			</li>
			<li class="col span_1 mt-percent mobile-hide">
				<div class="merchant-logo" style="background-image: url(images/logos/farberware.jpg);"></div>
			</li>
		</ul>
	</div>
</div>
<div class="module filter-nav" ng-controller="FilterNavCtrl">
	<div class="container">
		<ul>
			<li>Filters:</li>
			<li><span class="faux-link" ng-click="showPanType = !showPanType"><span class="bold">Type</span><span class="mobile-hide">: {{panTypeFilter}}<span ng-show="panTypeFilter == ''">All</span></span> <span class="carrot">&#9660;</span></span>
				<ul class="sub-menu" ng-show="showPanType">
					<li>
						<input type="radio" ng-model="panTypeFilter" id="allPans" value="">
						<label for="allPans" ng-click="showPanType = !showPanType">All</label>
					</li>
					<li>
						<input type="radio" ng-model="panTypeFilter" id="Non-Coated" value="Non-Coated">
						<label for="Non-Coated" ng-click="showPanType = !showPanType">Non-Coated</label>
					</li>
					<li>
						<input type="radio" ng-model="panTypeFilter" id="Non-Stick" value="Non-Stick">
						<label for="Non-Stick" ng-click="showPanType = !showPanType">Non-Stick</label>
					</li>
					<li>
						<input type="radio" ng-model="panTypeFilter" id="Cast-Iron" value="Cast-Iron">
						<label for="Cast-Iron" ng-click="showPanType = !showPanType">Cast-Iron</label>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="module">
	<div class="container padded-container beige-bg">
		<div class="clearfix">
			<h3 class="h3 left">Top 10 Frying Pans</h3> 
			<div class="right"><a href="#/compare/fryingPans" class="button">Compare Top 10</a></div>
		</div>
		<div class="grid-row col-4">
			<div ng-repeat="deal in deals | filter: {category: 'frying pan'} | filter: {top10: true} | limitTo: 10">
				
				<div class="product-card grid-unit" ng-class="{'last':($index+1)%4 == 0, 'mobile-last':($index+1)%2 == 0}">
					<a href="#/products/{{deal.productId}}" class="block-link"></a>
					<div class="favorite-heart" ng-class="{'active':favorited}" ng-click="favorited = !favorited; showFavoriteMessage()"></div>
					<div class="sale-alert" ng-class="{'active':saleAlerted}" ng-click="saleAlerted = !saleAlerted" ng-show="favorited"></div>
					<div class="favorite-message" ng-class="{'visible':showMessageVisible && favorited && !alreadyFavorited}">
						<div class="message-container centered">
							<p>Favorited!</p>
							<p>Set a sale alert on your favorite items by selecting the alarm clock below.</p>
						</div>
					</div>
          <div class="product-photo-container">
          	<div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}"></div>
          </div>
          <div class="product-description">
            <div class="smaller">{{deal.merchant}} {{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="discount">{{deal.couponDiscount}}</div>
            <div class="price-reviews clearfix">
	            <div class="reviews">
	            	<img ng-src="images/utility-icons/{{deal.stars}}_Stars.png" alt="">
	            </div>
	            <div class="expiration-price">
	            	<span class="smaller strikethrough oldprice">${{deal.oldPrice | number:2}}</span> 
	            	<span ng-switch on="deal.newPrice">
	            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
	            		<span class="price" ng-switch-when="FREE">FREE!</span>
	            	</span>
		          </div>
		        </div>
	        </div>
				</div> 
				<!-- /PRODUCT CARD -->

	    </div>
	</div>
</div>
<div class="module">
	<div class="container">
		<div class="grid-row col-4">
			<div ng-repeat="deal in filteredDeals = (deals | filter: {category: 'frying pan'} | filter: {top10: false} | limitTo: viewLimit)">
				
				<div class="product-card grid-unit" ng-class="{'last':($index+1)%4 == 0, 'mobile-last':($index+1)%2 == 0}">
					<a href="#/products/{{deal.productId}}" class="block-link"></a>
					<div class="favorite-heart" ng-class="{'active':favorited}" ng-click="favorited = !favorited; showFavoriteMessage()"></div>
					<div class="sale-alert" ng-class="{'active':saleAlerted}" ng-click="saleAlerted = !saleAlerted" ng-show="favorited"></div>
					<div class="favorite-message" ng-class="{'visible':showMessageVisible && favorited && !alreadyFavorited}">
						<div class="message-container centered">
							<p>Favorited!</p>
							<p>Set a sale alert on your favorite items by selecting the alarm clock below.</p>
						</div>
					</div>
          <div class="product-photo-container">
          	<div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}"></div>
          </div>
          <div class="product-description">
            <div class="smaller">{{deal.merchant}} {{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="discount">{{deal.couponDiscount}}</div>
            <div class="price-reviews clearfix">
	            <div class="reviews">
	            	<img ng-src="images/utility-icons/{{deal.stars}}_Stars.png" alt="">
	            </div>
	            <div class="expiration-price">
	            	<span class="smaller strikethrough oldprice">${{deal.oldPrice | number:2}}</span> 
	            	<span ng-switch on="deal.newPrice">
	            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
	            		<span class="price" ng-switch-when="FREE">FREE!</span>
	            	</span>
		          </div>
		        </div>
	        </div>
				</div> 
				<!-- /PRODUCT CARD -->

	    </div>

		</div>
		<div class="button view-more" ng-click="viewLimit = viewLimit+8" ng-hide="viewLimit > filteredDeals.length">view more</div>
	</div>
</div>

<div class="module beige-bg">
	<div class="container">
		<h3 class="h3 centered">Releated to Frying Pans</h3>

		<div class="grid-row col-3">
			<div class="grid-unit collection-contianer">
				<div class="collection-name">Fitness Trackers</div>
				<div class="collection" style="background-image: url(images/collections/fitnessTrackers.png);">	
				</div>
			</div>

			<div class="grid-unit collection-contianer">
				<div class="collection-name">Holiday Sweaters</div>
				<div class="collection" style="background-image: url(images/collections/holidaySweaters.png);">	
				</div>
			</div>

			<div class="grid-unit collection-contianer">
				<div class="collection-name">Performance Jackets</div>
				<div class="collection" style="background-image: url(images/collections/performanceJackets.png);">	
				</div>
			</div>
		</div>

	</div>
</div>