<div class="module">
	<div class="container">
		<h4 class="h4">Design A</h4>
		<ul>
			<li><a href="#/deals/category">Search Page</a></li>
			<li><a href="#/deals">Home Page</a></li>
		</ul>

		<h4 class="h4">Design B</h4>
		<ul>
			<li><a href="#/experience/category">Search Page</a></li>
			<li><a href="#/experience">Home Page</a></li>
		</ul>

		<h4 class="h4">Design C</h4>
		<ul>
			<li><a href="#/products-coupons/category">Search Page</a></li>
			<li><a href="#/products-coupons">Home Page</a></li>
		</ul>
	</div>
</div>