<div class="module">
	<div class="container">
		<h4 class="h4">High Consideration</h4>
		<ul>
			<li><a href="#/store">Store Page</a></li>
			<li><a href="#/category/tablets">Tablets</a></li>
			<li><a href="#/category/cameras">Cameras</a></li>
		</ul>

		<h4 class="h4">Mid Consideration B</h4>
		<ul>
			<li><a href="#/category/laptopBags">Laptop Bags</a></li>
			<!-- <li><a href="#/category/watches">Watches</a></li> -->
		</ul>

		<h4 class="h4">Low Consideration</h4>
		<ul>
			<li><a href="#/category/vacuums">Handheld Vacuums</a></li>
			<li><a href="#/category/fryingPans">Frying Pans</a></li>
		</ul>

		<h4 class="h4">Always Interested / Homepage</h4>
		<ul>
			<li><a href="#/index">Home Page</a></li>
		</ul>
	</div>
</div>