<div class="module">
  <div class="container">
    <div class="grid-fixed-fluid show-gutter-line">
      <div class="fixed">
        Fixed Content goes here
      </div>
      <div class="fluid">
        <h1 class="h2">Product Panel test ground</h1>
        

        <div class="grid-row col-1">
          <div class="grid-unit test-full clearfix">
            <div class="product-image">
              <img src="http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png" alt="">
            </div>
            <div class="product-description">
              <h3 class="h5">"Beardo" Beard Beanie</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, sequi harum repudiandae distinctio impedit facilis dicta veniam repellat obcaecati veritatis incidunt excepturi fugit similique cupiditate vitae, exercitationem adipisci. Consectetur, esse!</p>
            </div>
          </div>
        </div>

        <div class="grid-row col-3">
          <div class="grid-unit test-unit">
            <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
              <div class="icon-gold-star"></div>
              <div class="gradient-overlay">
              </div>
              <div class="discount">
                <!-- <span class="strikethrough">$30</span> <span class="sale-price">$15</span> --> 50% Off
              </div>
            </div>
            <div class="test-caption">
              Buy my book!
            </div>
          </div>
          <div class="grid-unit test-unit">
            <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
            </div>
            <div class="test-caption">
              Buy my book!
            </div>
          </div>
          <div class="grid-unit test-unit">
            <div class="test-photo" style="background-image: url(http://dnok91peocsw3.cloudfront.net/product/39991-610x610-1322251732-primary.png);">
            </div>
            <div class="test-caption">
              Buy my book!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>