<div class="module border-bottom">
	<div class="container">
		<h1 class="h2 centered pb1">Save at these Top Brands</h1>
		<div class="form-search-container">
                  
			<form class="form-search product-search inline-form-elements" role="search" action="/search.php" method="get">
      <input class="query" name="query" type="search" placeholder="What are you looking for today?" aria-label="Search" autocomplete="off" />
      <button type="submit" class="button button--red button--search" data-track-category="Masthead" data-track-action="search">
        <i class="icon icon-search button-image"></i>
        <span class="button-text">Search</span>
	    </button>
	    <ul class="instant-results hide"></ul>
			</form>
    </div>
		<div class="grid-row col-6 carousel">
			<span class="triangle left"></span>
			<div class="grid-unit"><div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/m/toysrus.com-coupons.jpg)"></div></div>
			<div class="grid-unit"><div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/m/ulta.com-coupons.jpg)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/m/dominos.com-coupons.jpg)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/m/macys.com-coupons.jpg)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/m/amazon.com-coupons.jpg)"></div></div>
			<div class="grid-unit mobile-hide"><div class="merchant-logo" style="background-image: url(http://o.rmncdn.com/thumbs/logos/m/bestbuy.com-coupons.jpg)"></div></div>
			<span class="triangle right"></span>
		</div>
	</div>
</div>

<div class="module">
	<div class="container">
		<h3 class="h3">Handpicked for You</h3>
		<div class="grid-row col-3">
			<div ng-repeat="deal in deals | filter: {category: 'handpicked row1'}" ng-switch on="deal.dealType">
				
				<div class="product-coupon-item grid-unit" ng-switch-when="product" ng-class="{'last':$last}">
          <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="expiration-price"><span class="smaller strikethrough">${{deal.oldPrice | number:2}}</span> 
            	<span ng-switch on="deal.newPrice">
            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
            		<span class="price" ng-switch-when="FREE">FREE!</span>
            	</span> <span class="smaller">at {{deal.merchant}}</span></div>
            <a href="#/products-coupons/product" class="button full-button">Shop</a>
          </div>
        </div>

        <div class="product-coupon-item grid-unit" ng-switch-when="coupon" ng-class="{'last':$last}">
          <div class="product-photo coupon-background">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.description}}</div>
            <div class="expiration-price">Expires: {{deal.expiration}}</div>
            <div class="button full-button">Get Code</div>
          </div>
        </div>

			</div>
	 			
    </div>

    <div class="grid-row col-3 pt1">
			<div ng-repeat="deal in deals | filter: {category: 'handpicked row2'}" ng-switch on="deal.dealType">
				
				<div class="product-coupon-item grid-unit" ng-switch-when="product" ng-class="{'last':$last}">
          <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="expiration-price"><span class="smaller strikethrough">${{deal.oldPrice | number:2}}</span> 
            	<span ng-switch on="deal.newPrice">
            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
            		<span class="price" ng-switch-when="FREE">FREE!</span>
            	</span> <span class="smaller">at {{deal.merchant}}</span></div>
            <a href="#/products-coupons/product" class="button full-button">Shop</a>
          </div>
        </div>

        <div class="product-coupon-item grid-unit" ng-switch-when="coupon" ng-class="{'last':$last}">
          <div class="product-photo coupon-background">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.description}}</div>
            <div class="expiration-price">Expires: {{deal.expiration}}</div>
            <div class="button full-button">Get Code</div>
          </div>
        </div>

			</div>
	 			
    </div>

    <h3 class="h3 pt1">Women's Apparel</h3>
    <div class="grid-row col-3">
    	<div ng-repeat="deal in deals | filter: {category: 'womens apparel'} | limitTo:3" ng-switch on="deal.dealType">
				
				<div class="product-coupon-item grid-unit" ng-switch-when="product" ng-class="{'last':$last}">
          <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="expiration-price"><span class="smaller strikethrough">${{deal.oldPrice | number:2}}</span> 
            	<span ng-switch on="deal.newPrice">
            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
            		<span class="price" ng-switch-when="FREE">FREE!</span>
            	</span> <span class="smaller">at {{deal.merchant}}</span></div>
            <a href="#/products-coupons/product" class="button full-button">Shop</a>
          </div>
        </div>

         <div class="product-coupon-item grid-unit" ng-switch-when="coupon" ng-class="{'last':$last}">
          <div class="product-photo coupon-background">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.description}}</div>
            <div class="expiration-price">Expires: {{deal.expiration}}</div>
            <div class="button full-button">Get Code</div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="h3 pt1">Men's Apparel</h3>
    <div class="grid-row col-3">
    	<div ng-repeat="deal in deals | filter: {category: ' mens apparel'} | limitTo:3" ng-switch on="deal.dealType">
				
				<div class="product-coupon-item grid-unit" ng-switch-when="product" ng-class="{'last':$last}">
          <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="expiration-price"><span class="smaller strikethrough">${{deal.oldPrice | number:2}}</span> 
            	<span ng-switch on="deal.newPrice">
            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
            		<span class="price" ng-switch-when="FREE">FREE!</span>
            	</span> <span class="smaller">at {{deal.merchant}}</span></div>
            <a href="#/products-coupons/product" class="button full-button">Shop</a>
          </div>
        </div>

         <div class="product-coupon-item grid-unit" ng-switch-when="coupon" ng-class="{'last':$last}">
          <div class="product-photo coupon-background">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.description}}</div>
            <div class="expiration-price">Expires: {{deal.expiration}}</div>
            <div class="button full-button">Get Code</div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="h3 pt1">Toys</h3>
    <div class="grid-row col-3">
    	<div ng-repeat="deal in deals | filter: {category: 'toys'} | limitTo:3" ng-switch on="deal.dealType">
				
				<div class="product-coupon-item grid-unit" ng-switch-when="product" ng-class="{'last':$last}">
          <div class="product-photo photo-background" ng-style="{'background-image':'url('+deal.bgImage+')'}">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.name}}</div>
            <div class="expiration-price"><span class="smaller strikethrough">${{deal.oldPrice | number:2}}</span> 
            	<span ng-switch on="deal.newPrice">
            		<span class="price" ng-switch-default>${{deal.newPrice | number: 2}}</span>
            		<span class="price" ng-switch-when="FREE">FREE!</span>
            	</span> <span class="smaller">at {{deal.merchant}}</span></div>
            <a href="#/products-coupons/product" class="button full-button">Shop</a>
          </div>
        </div>

         <div class="product-coupon-item grid-unit" ng-switch-when="coupon" ng-class="{'last':$last}">
          <div class="product-photo coupon-background">
            <div class="merchant-logo-container">
              <div class="merchant-logo" ng-style="{'background-image':'url('+deal.logo+')'}"></div>
            </div>
          </div>
          <div class="product-coupon-description">
            <div class="favorite-heart"></div>
            <div class="smaller">{{deal.location}}</div>
            <div class="description">{{deal.description}}</div>
            <div class="expiration-price">Expires: {{deal.expiration}}</div>
            <div class="button full-button">Get Code</div>
          </div>
        </div>
      </div>
    </div>
		 			
	</div>
</div>