<div class="module storepage">
	<div class="container">
		<img src="images/deal_screenshot.jpg" alt="">
		<div id="waypoint" class="waypoint"></div>
	</div>
	<div class="popup" ng-class="{'poppedUp': showPopup}">
		<div class="container">
			<div class="x-out" ng-click="showPopup = false">X</div>
			<h4 class="h4 centered">Not Finding the Right Coupon?</h4>
			<p class="centered">There might be savings at a different store</p>
			<form class="form-search product-search inline-form-elements" role="search" action="#/search" method="get">
      <input class="query" name="query" type="search" placeholder="What are you looking for today?" aria-label="Search" autocomplete="off" />
      <button type="submit" class="button button--red button--search" data-track-category="Masthead" data-track-action="search">
        <i class="icon icon-search button-image"></i>
        <span class="button-text">Search</span>
	    </button>
	    <ul class="instant-results hide"></ul>
			</form>
		</div>
	</div>
</div>